<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebsiteStudio.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WebsiteStudio.UI.Properties.Settings>
            <setting name="MainFormHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ContentFormHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ContentFormWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ContentFormState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ContentFormX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ContentFormY" serializeAs="String">
                <value>-1</value>
            </setting>
        </WebsiteStudio.UI.Properties.Settings>
    </userSettings>
</configuration>